{% extends 'base.html' %}
{% block title %}
  login page
{% endblock %}
{% block body %}
 <div class="row">
    <center>
    <div class="col-md-8">
        <form method="post" action="{% url 'loginuser' %}">
         {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Username</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
              <div id="emailHelp" class="form-text">We'll never share your details with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
           
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

    

    </div>
</center>
<div class="row">
  {% if messages %}
     {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  {% endif %} 
</div>
 </div>









{% endblock %}